@model IEnumerable<DAL.Entities.User>
@{
    ViewData["Title"] = "ადმინისტრატორები";
}

<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <!-- ============================================================== -->
            <!-- products  -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header fgnb fbold fsize-20">
                        <span class="card-title">ყველა ადმინისტრატორი</span>
                        <a asp-action="Create" asp-controller="User" class="float-right btn btn-success">დამატება</a>
                    </h5>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="bg-light">
                                    <tr class="border-0">
                                        <th class="border-0 fga">Username</th>
                                        <th class="border-0 fga">სახელი</th>
                                        <th class="border-0 fga">გვარი</th>
                                        <th class="border-0 fga">ელ.ფოსტა</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@item.UserName</td>
                                        <td>@item.Firstname</td>
                                        <td>@item.Lastname</td>
                                        <td>@item.Email</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end of products  -->
            <!-- ============================================================== -->
        </div>
    </div>
</div>