@model ProductCUVM
@{
    ViewData["Title"] = "პროდუქტის დამატება";
}

<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header fgnb">პროდუქტის დამატება</h5>
                    <div class="card-body">
                        <form asp-action="Create" enctype="multipart/form-data">

                            <partial name="~/Views/Product/Helper/ProductCUViewForm.cshtml" model="Model" />

                            <div class="form-group">
                                <button type="submit" class="btn btn-success fgnb">დამატება</button>
                                <a asp-action="Index" class="float-right fga" style="margin-top: 5px;">უკან დაბრუნება</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts  {
    <script src="~/assets/vendor/datepicker/moment.js"></script>
    <script src="~/assets/vendor/datepicker/tempusdominus-bootstrap-4.js"></script>
    <script src="~/assets/vendor/datepicker/datepicker.js"></script>
}