@model ShopCUVM
@{
    ViewData["Title"] = "მაღაზიის დამატება";
}

<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header fgnb">მაღაზიის დამატება</h5>
                    <div class="card-body">
                        <form asp-action="Create">

                            <partial name="~/Views/Shop/Helper/ShopCUViewForm.cshtml" model="Model" />

                            <div class="form-group">
                                <button type="submit" class="btn btn-success fgnb">დამატება</button>
                                <a asp-action="Index" class="float-right fga" style="margin-top: 5px;">უკან დაბრუნება</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
    $("table .chkbox").change(function (e) {
        if (!$(this).is(":checked")) {
            var product = $(this).parent().parent();
            $(product).find('.barcode').val('');
            $(product).find('.price').val('0.00');
        }
    });

    function onlyNumbersValidate() {
        var $input = $(this);
        $input.val($input.val().replace(/[^\d]+/g,''));
    }

    $("table tbody tr").on("propertychange input", ".barcode", onlyNumbersValidate);
    </script>
}