@model ShopCUVM
@{
    ViewData["Title"] = "მაღაზიის რედაქტირება";
}

<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header fgnb">მაღაზიის რედაქტირება</h5>
                    <div class="card-body">
                        <form asp-action="Edit">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <input asp-for="Shop.Id" type="hidden" />

                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="Shop.Name" class="col-form-label fga">დასახელება</label>
                                        <input asp-for="Shop.Name" class="form-control">
                                        <span asp-validation-for="Shop.Name" class="text-danger fga"></span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="Shop.Address" class="col-form-label fga">მისამართი</label>
                                        <input asp-for="Shop.Address" class="form-control">
                                        <span asp-validation-for="Shop.Address" class="text-danger fga"></span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="Shop.TypeId" class="col-form-label fga">მაღაზიის ტიპი</label>
                                        <select asp-items="Model.Components.Types" asp-for="Shop.TypeId" class="form-control"></select>
                                        <span asp-validation-for="Shop.TypeId" class="text-danger fga"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-success fgnb">რედაქტირება</button>
                                <a asp-action="Index" class="float-right fga" style="margin-top: 5px;">უკან დაბრუნება</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>